body{
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    background-color: rgb(243, 243, 243);
    scroll-behavior: none;
}

p{
    margin: 0;
}

.page{
    display: flex;
    height: 100vh;
    padding: 10px;
}

.sidenav{
    width: 200px;
    color: rgb(21, 21, 21);
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.content{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid rgb(204, 204, 204);
}

.header {
  display: flex;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid rgb(204, 204, 204);
}

.collapsebtn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  margin-right: 10px;
  width: 32px;
  height: 28px;
  align-items: center;
}

.collapsebtn:hover {
  background-color: rgb(237, 237, 237);
  border-radius: 5px;
}

.collapseicon {
  width: 18px;
  height: 18px;
}

.headertext {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.main{
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.logo{
  height: 30px;
}

.navlinks{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 4px;
}

.navlink{
  display: flex;
  justify-content: left;
  align-items: center;
  text-decoration: none;
  color: rgb(21, 21, 21);
  padding: 8px;
  border-radius: 10px;
  font-size: 14px;
  border: none;
  background-color: rgb(243, 243, 243);
  cursor: pointer;
}

.active{
  /*background-color: rgba(249, 211, 168, 0.734);*/
  font-weight: bold;
  background-color: rgb(227, 227, 227);
}

.navlink:hover{
  background-color: rgb(227, 227, 227);
}

.nav-icon{
  width: 16px;
  margin-right: 10px;
}

.stats{
  display: flex;
  gap: 20px;
  margin: 20px;
}

.statcard{
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid rgb(226, 226, 226);
}

.stat-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.stat-title{
  color: grey;
  margin: 0;
}

.stat-number{
  font-size: 32px;
  font-weight: bold;
  margin: 0;
}

.stat-trend{
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
  border: none;
  padding: 4px 8px;
  border-radius: 100px;
}

.stat-percentage {
  font-size: 12px;
  margin: 0;
}

.positive {
  background-color: rgb(217, 243, 217);
}

.negative {
  background-color: rgb(255, 218, 218);
}

.stat-icon{
  width: 12px;
  height: 12px;

}