body{
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    background-color: rgb(243, 243, 243);
    scroll-behavior: none;
}

p{
    margin: 0;
}

.page{
    display: flex;
    padding: 10px;
}

.sidenav{
    width: 200px;
    color: rgb(21, 21, 21);
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.content{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid rgb(223, 223, 223);
    height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid rgb(223, 223, 223);
}

.collapsebtn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  margin-right: 10px;
  width: 32px;
  height: 28px;
  align-items: center;
}

.collapsebtn:hover {
  background-color: rgb(237, 237, 237);
  border-radius: 5px;
}

.collapseicon {
  width: 18px;
  height: 18px;
}

.headertext {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.main{
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.logo{
  height: 30px;
}

.navlinks{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 4px;
}

.navlink{
  display: flex;
  justify-content: left;
  align-items: center;
  text-decoration: none;
  color: rgb(21, 21, 21);
  padding: 8px;
  border-radius: 10px;
  font-size: 14px;
  border: none;
  background-color: rgb(243, 243, 243);
  cursor: pointer;
}

.active{
  /*background-color: rgba(249, 211, 168, 0.734);*/
  font-weight: bold;
  background-color: rgb(227, 227, 227);
}

.navlink:hover{
  background-color: rgb(227, 227, 227);
}

.nav-icon {
  width: 16px;
  margin-right: 10px;
}

.stats{
  display: flex;
  gap: 20px;
  margin: 20px;
}

.statcard{
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid rgb(226, 226, 226);
}

.stat-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.stat-title{
  color: grey;
  margin: 0;
}

.stat-number{
  font-size: 32px;
  font-weight: bold;
  margin: 0;
}

.stat-trend{
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
  border: none;
  padding: 4px 8px;
  border-radius: 100px;
}

.stat-percentage {
  font-size: 12px;
  margin: 0;
}

.positive {
  background-color: rgb(217, 243, 217);
}

.negative {
  background-color: rgb(255, 218, 218);
}

.stat-icon{
  width: 12px;
  height: 12px;

}


.table-wrapper{
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(226, 226, 226);
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid rgb(226, 226, 226);
}

table{
  width: 100%;
  border-collapse: collapse;
 
  }

thead {
  background-color: rgb(249, 249, 249);
  }

  th{
    font-size: 12px;
  }

th, td{
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid rgb(226, 226, 226);
}

tr:hover{
  background-color: rgb(245, 245, 245);
}


.status-pending{
  background-color: rgb(255, 237, 172);
  padding: 4px 8px;
  border-radius: 100px;
  font-size: 12px;
  font-weight: bold;
  color: rgb(113, 90, 5);
}

.status-completed{
  background-color: rgb(217, 243, 217);
  padding: 4px 8px;
  border-radius: 100px;
  font-size: 12px;
  font-weight: bold;
  color: rgb(34, 102, 34);
}

.status-in-progress{
  background-color: rgb(234, 234, 234);
  padding: 4px 8px;
  border-radius: 100px;
  font-size: 12px;
  font-weight: bold;
  color: rgb(108, 108, 108);
}

.progress-bar{
  width: 100%;
  background-color: rgb(232, 232, 232);
  border-radius: 10px;
  overflow: hidden;
  height: 5px;
}
.progress{
  height: 100%;
  background-color: rgb(100, 178, 246);
}

.tab-group{
  display: flex;
  align-self: flex-start;
  gap: 10px;
  margin-bottom: 20px;
  background-color: rgb(243, 243, 243);
  padding: 8px;
  border-radius: 14px;
  font-size: 14px;
}

.tab-selected{
  padding: 10px 16px;
  background-color: #ffffff;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.tab{
  padding: 10px 16px;
  background-color: transparent;
  border-radius: 8px;
  cursor: pointer;
}

.tab:hover{
  background-color: rgb(227, 227, 227);
}

.action-buttons{
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.secondary-btn{
  padding: 0 16px;
  background-color: rgb(255, 255, 255);
  color: #000000;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  border: solid 1px rgb(200, 200, 200)  ;
  display: flex;
  height: 42px;
  align-items: center;
}

.secondary-btn:hover{
  background-color: rgb(227, 227, 227);}

.primary-btn{
  padding: 0 16px;
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  height: 42px;
  align-items: center;
}

.primary-btn:hover{
  opacity: .7;
}


.add-icon{
  width: 18px;
  margin-right: 10px;
}
.icon-left {
  width: 18px;
  margin-left: 12px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.search-bar {
  padding: 0px 12px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 10px;
  font-size: 14px;
  width: 200px;
  height: 42px;
}
